<!-- Button trigger modal -->
<div class="container">
  <div class="row">
    <div class="col-6 contenedor experiencia">
      <button
        type="button"
        class="btn btn-primary boton"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Añadir
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Agregar Experiencia
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-control">
            <label for="experienciaTitulo">Titulo</label>
            <input
              type="text"
              name="experienciaTitulo"
              id="experienciaTitulo"
              placeholder="Añadir titulo"
              [(ngModel)]="experienciaTitulo"
            />
          </div>
          <div class="form-control">
            <label for="experienciaDescripcion">Descripcion</label>
            <input
              type="text"
              name="experienciaDescripcion"
              id="experienciaDescripcion"
              placeholder="Añadir descripcion"
              [(ngModel)]="experienciaDescripcion"
            />
          </div>
          <div class="form-control">
            <label for="experienciaLogo">Logo</label>
            <input
              type="text"
              name="experienciaLogo"
              id="experienciaLogo"
              placeholder="Añadir logo"
              [(ngModel)]="experienciaLogo"
            />
          </div>

          <input
            type="submit"
            value="Guardar"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            *ngIf="adminBoton('/admin')"
          />
        </form>
      </div>
    </div>
  </div>
</div>
