<nav class="navbar navbar-expand-lg navbar-light bg">  
  
  <div class="container-fluid">    
    <div>
    <img width="40" alt="Logo de Argentina programa" src="{{ navbarLogo }}" />
    <a class="navbar-brand nav" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">{{ navbarBrand }}</a>
  </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngFor="let navbar of navbarData"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ navbar.link }}"
          >              
              <i class="{{navbar.logo}} color" style="font-size: 1.1em"           
              
              ></i> 

          </a>
        </li>
      </ul>

      <form class="d-flex">
        <button
          class="btn btn-outline-light"
          type="button"
          routerLink="/login"
          *ngIf="Loguear('/portfolio')"
        >
          <app-login *ngIf="hasRoute('/login')"> </app-login>
          {{ loginboton }}
        </button>       
        <button
          class="btn btn-outline-danger"
          routerLink="/portfolio"
          *ngIf="Logueado('/admin')"
          (click)="desloguear()"
        >
          Logout
        </button>      
   
      </form>
    </div>
  </div>
</nav>
