

<div class="container-fluid about col-lg-6 col-sm-4"> 
  <div class="row">
    <div class="col-lg-4">
    <div class="imagenAbout">
        <img [src]="miPorfolio.aboutImg" class="imgRedonda"/>
        </div>  
    
    </div>

    <div class="col-lg-4">
      <h2>{{miPorfolio.aboutNombre}}</h2>
      <p> {{miPorfolio.aboutDescripcion}} </p> 
      
    </div>
    
   
   </div>
   <fa-icon class="icon"
        [icon]="faPen"
        data-bs-toggle="modal" 
        data-bs-target="#staticBackdrop3"        
        ></fa-icon>
   </div>

   <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"

   >
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="staticBackdropLabel">Editar Navbar</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
   
          
   <form 
   class="add-form" 
   (ngSubmit)="onNavbarSubmit()"
   
   >
   <div class="form-control" >
       <label for="foto">Foto de perfil</label>
       <input 
       
       type="text" 
       name="foto" 
       id="foto" 
       placeholder="Agregar foto"
       [(ngModel)]="foto"
       
       />
   </div> 
   <div class="form-control">
       <label for="tituloAbout">Titulo</label>
       <input 
       
       type="text" 
       name="tituloAbout" 
       id="tituloAbout" 
       placeholder="Editar titulo"
       [(ngModel)]="tituloAbout"
   
       />    
   </div>

   <div class="form-control">
    <label for="descripcionAbout"> Descripcion  </label>
    <input 
    type="text" 
    name="descripcionAbout" 
    id="descripcionAbout" 
    placeholder="descripcionAbout" 
    [(ngModel)]="descripcionAbout"
    />
  </div>  
    
   <div class="form-control">
     <label for="id">id  </label>
     <input 
     type="number" 
     name="id" 
     id="id" 
     placeholder="id" 
     [(ngModel)]="id"
     />
   </div>  
   
   <input type="submit" value="Editar" class="btn btn-primary" data-bs-dismiss="modal">
   </form>
   
         </div>       
       </div>
     </div>
   </div> 