<div>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-ride="carousel"
    *ngFor="let banner of bannerData"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" [src]="banner.bannerImg" alt="First slide" />
      </div>
      <fa-icon
        class="icon"
        [icon]="faPen"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdropBanner"
        *ngIf="adminBoton('/admin')"
        (click)="onEditBanner(banner)"   
      ></fa-icon>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdropBanner"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Editar banner
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-control">
              <label for="banner">Nuevo Banner</label>
              <input
                type="text"
                formControlName="bannerImg"
                id="bannerImg"
                placeholder="Añadir banner"
               
              />
            </div>
           

            <input
              type="submit"
              value="Guardar"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="updateBannerDetails()"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
