<div class="container">
  <h1 class="text-center">{{ titleExperiencia }}</h1>

  <div class="row">
    <div class="col-12 contenedor experiencia">
      <app-item-experiencia
        class="tamañoMedio"
        (onEditExperiencia)="editExperiencia($event)"
        
      [experienciaA]="experienciaTitulo"
     
      ></app-item-experiencia>

      <div class="container prueba d-none d-lg-block">
        <div class="col-12">        
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-experiencia
  (onAddExperiencia)="addExperiencia($event)"
></app-add-experiencia>
