 <div class="list-group educacion " *ngFor="let educacion of educacionData">
    <a
      
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >     
    <i class="{{ educacion.educacionLogo }}" style="font-size: 2em"></i>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">{{ educacion.educacionTitulo }}</h6>
          <p class="mb-0 opacity-75">
            {{ educacion.educacionDescripcion }}.
          </p>
        </div>
      </div>
    </a> 

<!-- BOTON PARA ELIMINAR -->
    <fa-icon
    class="iconA"
    [icon]="faTimes"
    *ngIf="adminBoton('/admin')"
    (click)="deleteEducacion(educacion)"     >
  </fa-icon>
<!-- BOTON PARA EDITAR -->
  <fa-icon
    class="iconB"
    [icon]="faPen"
    *ngIf="adminBoton('/admin')"   
    (click)="onEditEducacion(educacion)"      
    data-bs-toggle="modal"
    data-bs-target="#staticBackdropEducacion"   
  >
  </fa-icon>

  <!-- MODAL PARA EDITAR -->
  <div 
    class="modal fade"
    id="staticBackdropEducacion"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            Editar educacion
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form 
            class="add-form"
            [formGroup]="formValue"                       
          >            
            
            <div class="form-control form-group">
              <label for="educacionTitulo">Titulo</label>
              <input
                type="text"
                formControlName="educacionTitulo"
                id="educacion"
                placeholder="Editar titulo"              
              />
              
            </div>
            <div class="form-control">
              <label for="educacionDescripcion">Descripcion</label>
              <input
                type="text"
                formControlName="educacionDescripcion"
                id="educacionDescripcion"
                placeholder="Editar descripcion"             
              />
            </div>
            <div class="form-control">
              <label for="educacionLogo">Logo</label>
              <input
                type="text"
                formControlName="educacionLogo"
                id="educacionLogo"
                placeholder="Editar logo"              
              />
            </div>          

            <input
              type="submit"
              value="Editar"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="updateEducacionDetails()"
            />
          </form>
        </div>
      </div>
    </div>
  </div>   
 </div>    
<!-- BOTON PARA AGREGAR -->
 <button class="btn btn-secondary btn-modal" data-bs-toggle="modal"
data-bs-target="#staticBackdropEdu"  *ngIf="adminBoton('/admin')" (click)="clickAddEducacion()">añadir</button>
<!-- MODAL PARA AGREGAR -->
<div
class="modal fade"
id="staticBackdropEdu"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">
        Añadir educacion
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form class="add-form" [formGroup]="formValueAgregar">
        <div class="form-control form-group">
          <label for="educacionTitulo">Titulo</label>
          <input
            type="text"
            formControlName="educacionTitulo"
            id="educacionTitulo"
            placeholder="Añadir titulo"
          />
        </div>
        <div class="form-control">
          <label for="educacionDescripcion">Descripcion</label>
          <input
            type="text"           
            formControlName="educacionDescripcion"
            id="educacionDescripcion"
            placeholder="Añadir descripcion"
          />
        </div>
        <div class="form-control">
          <label for="educacionLogo">Logo</label>
          <input
            type="text"
            formControlName="educacionLogo"
            id="educacionLogo"
            placeholder="Ejemplo bi bi-gear"
          />
          <p>*Admite cualquier icono de Bootstrap</p>
        </div>

        <input
          type="submit"
          value="Añadir"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="postEducacionDetails()"
        />
      </form>
    </div>
  </div>
</div>
</div>