<div class="login">
  <form
    class="custom-form"
    method=""
    (ngSubmit)="login($event)"
    [formGroup]="loginForm"
  >
    <h1>Login</h1> 
    
    <input
      type="email"
      formControlName="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      formControlName="password"
      placeholder="password"
      required="required"
    />
    <p>Usuario: admin - Contraseña: admin</p>
    <button type="submit">Login</button>
  </form>
</div>
